.main{
    background-repeat: no-repeat;
    border-radius: 30px;
    background-image: url('../../public/image/main-bg.webp');
    background-position: center;

    width: 100%;
    height: 882px;
    padding: 30px;

    color: #Fff;
}


.main__content{
    margin-top: 264px;
    display: flex;
    flex-direction: column;
    gap: 41px;
    text-align: center;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 76px;
        font-weight: 500;

        span{
            text-decoration: underline;
        }
    }
    .main-def__btn{
        width: 285px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 21px;
        padding-right: 8px;
        background-color: #48719A;
        border-radius: 6px;
        font-size: 16px;
        color: #FFf;
    }
}

@media(max-width: 1520px) {
    .main__content{
        margin-top: 160px;

        h1{
            font-size: 56px;
        }
    }
}


@media(max-width: 1110px) {
    .main__content{
        margin-top: 130px;

        h1{
            font-size: 46px;
        }
    }
}

@media(max-width: 862px) {
    .main{
        padding: 10px;
        height: 628px;
    }
    .main__content{
        margin-top: 114px;

        h1{
            font-size: 36px;
        }
        .main-def__btn{
            width: 265px;
            height: 65px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 6px;
            background-color: #48719A;
            border-radius: 6px;
            font-size: 14px;
            color: #FFf;
        }
    }
    
}

@media(max-width: 768px) {
    .main__content{
        
        h1{
            width: 550px;
            font-size: 34px;
        }
    }
}

@media(max-width: 522px) {
    .main__content{
        h1{
            width: 100%;
            line-height: 38px;
            letter-spacing: -0.3px;
            font-size: 28px;
        }
        
        .main-def__btn{
            width: 200px;
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 7px;
            padding-right: 5px;
            background-color: #48719A;
            border-radius: 3px;
            font-size: 12px;
            color: #FFf;

            img{
                width: 40px;
            }
        }
    }
   
}

